body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
  background-color: #6b6b4f; 
}

body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,98,226,1) 51%, rgba(0,0,0,1) 100%);

}

.snake{
background-color: #0b4841;
  
  border-radius: 4px;

}

#game-board {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
  background-color:#6b6b4f;
}

.game-border-1 {
  border: #003366 solid 10px; 
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #003366; 
}

.game-border-2 {
  border: #ff002b solid 8px; 
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #108bc8; 
}

.game-border-3 {
  border: #1022c8 solid 30px; 
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #0b4841; 
}

#instruction-text {
  position: absolute;
  top: 62%;
  color: #fff0f0; 
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
 
}

.scores {
  display: flex;
  justify-content: space-between;
 margin: 0 70px;
  color: #333333; 
}

#score {
  color: #10a0c8;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #C8102E; 
  display: none;
}

.game-border-3,
#logo {
  background-color: #000000; 
}

.snake {
  border: #ffffff 1px solid; 
  
}

.food {
  background-color: #fff1f1; 
  border: #000000 5px solid; 
}

#logo {
  position: absolute;
}

.arrowpress {
  display: flex;
  gap: 80px;
}
.goback{
  /* display: none; */
  position: absolute;
  justify-content: center;
  align-items: center;
  
  display: flex;
  width: 250px;
height: 50px;
background-color: #2655ec;
top: 780px;
border-radius: 10px;
color: white;

}
.goback:hover{
  background-color: #742230;
  cursor: pointer;
}
.goback:active{
  background-color: #2f1f1f;
}
.arrows {
  color: #F5FFFA; 
  background-color: #C8102E; 
  border-radius: 100px;
  font-size: 13px;
  font-weight: 900;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  height: 70px;
  width: 70px;
}

.game-over{
  
  position: absolute;
  display: none;
  text-align: center;
  /* display: flex; */
  width: 350px;
  height: 50px;
}

@media (max-width: 800px) {
  .everything {
    transform: scale(0.7);
  }

  h1 {
    font-size: medium;
    top: 20px;
  }

  .scores {
    position: relative;
    gap: -15px;
  }

  .game-border-1 {
    border: #003366 solid 10px; 
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #003366; 
  }

  .arrowpress {
    position: relative;
    top: 100px;
  }

  .upkey {
    position: relative;
    left: 240px;
    bottom: 100px;
    border: 10px solid #003366; 
  }

  .downkey {
    position: relative;
    right: 60px;
    border: 10px solid #003366; 
    bottom: 20px;
  }

  .rightkey {
    position: relative;
    right: 120px;
    border: 10px solid #003366; 
    bottom: 20px;
  }

  .leftkey {
    border: 10px solid #003366; 
    position: relative;
    bottom: 20px;
  }
  #instruction-text{
    /* position: relative; */
    top: 440px;
    z-index: 1;
  color:white;
  }
}
