body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
  background-color: #6b6b4f; 
}

body {
  background: linear-gradient(90deg, rgba(36,34,0,1) 8%, rgba(2,0,36,1) 21%, rgba(9,9,121,1) 35%, rgba(152,21,7,1) 50%, rgba(106,76,131,1) 75%, rgba(200,175,47,1) 89%, rgba(0,212,255,1) 100%);

}

.snake{
  background-color:#000000;
  border-radius: 10px;
}

#game-board {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
  background-image: linear-gradient(to right top, #ff6060, #ff0047, #ee007f, #4000b8, #2020e5);
}

.game-border-1 {
  border: #003366 solid 10px; 
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #003366; 
}

.game-border-2 {
  border: #C8102E solid 8px; 
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #C8102E; 
}

.game-border-3 {
  border: #C8102E solid 30px; 
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #C8102E; 
}

#instruction-text {
  position: absolute;
  top: 62%;
  color: #333333; 
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
 
}

.scores {
  display: flex;
  justify-content: space-between;
  color: #333333; 
}

#score {
  color: #C8102E;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #C8102E; 
  display: none;
}

.game-border-3,
#logo {
  background-color: #000000; 
}

.snake {
  border: #003366 1px dotted; 
  box-shadow: 0 0 5px 5px #48abe0;
}

.food {
  background-color: #F5FFFA; 
  border: #F08080 5px solid; 
}

#logo {
  position: absolute;
}

.arrowpress {
  display: flex;
  gap: 80px;
}
.goback{
  /* display: none; */
  position: absolute;
  justify-content: center;
  align-items: center;
  
  display: flex;
  width: 250px;
height: 50px;
background-color: #C8102E;
top: 780px;
border-radius: 10px;
color: white;

}
.goback:hover{
  background-color: #e95f76;
  cursor: pointer;
}
.goback:active{
  background-color: #2f1f1f;
}
.arrows {
  color: #F5FFFA; 
  background-color: #C8102E; 
  border-radius: 100px;
  font-size: 13px;
  font-weight: 900;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  height: 70px;
  width: 70px;
}

.game-over{
  
  position: absolute;
  display: none;
  
  /* display: flex; */
  width: 350px;
  height: 50px;
}

@media (max-width: 800px) {
  .everything {
    transform: scale(0.7);
  }

  h1 {
    font-size: medium;
    top: 20px;
  }

  .scores {
    position: relative;
    gap: -15px;
  }

  .game-border-1 {
    border: #003366 solid 10px; 
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #003366; 
  }

  .arrowpress {
    position: relative;
    top: 100px;
  }

  .upkey {
    position: relative;
    left: 240px;
    bottom: 100px;
    border: 10px solid #003366; 
  }

  .downkey {
    position: relative;
    right: 60px;
    border: 10px solid #003366; 
    bottom: 20px;
  }

  .rightkey {
    position: relative;
    right: 120px;
    border: 10px solid #003366; 
    bottom: 20px;
  }

  .leftkey {
    border: 10px solid #003366; 
    position: relative;
    bottom: 20px;
  }
  #instruction-text{
    /* position: relative; */
    top: 440px;
    z-index: 1;
  color:white;
  }
}
